/* Archivo styles.css */

html {
    scroll-behavior: smooth;
}

/* Aquí siguen tus otras reglas CSS */
body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #004aad; /* Color azul más oscuro */
}

nav ul li a {
    color: white;
    font-size: 16px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

main {
    padding-top: 60px; /* Espacio para que no se solape con el menú fijo */
}

section {
    padding: 40px 20px;
    margin: 20px 0;
}
footer {
    background-color: #0044cc;
    color: white;
    text-align: center;
    padding: 10px 0;
}
